[package]
name = "parallel-disk-usage"
description = "Highly parallelized, blazing fast directory tree analyzer"
version = "0.8.0"
authors = ["khai96_ <hvksmr1996@gmail.com>"]
edition = "2021"
readme = "README.md"
license = "Apache-2.0"
documentation = "https://docs.rs/parallel-disk-usage"
repository = "https://github.com/KSXGitHub/parallel-disk-usage.git"
keywords = [
  "pdu",
  "dust",
  "dutree",
  "size",
  "chart",
]
categories = [
  "command-line-utilities",
  "filesystem",
]
include = [
  "/src",
  "/cli",
  "/Cargo.toml",
  "/README.md",
  "/LICENSE",
]

[lib]
name = "parallel_disk_usage"
path = "src/lib.rs"

[[bin]]
name = "pdu"
path = "cli/main.rs"
required-features = ["cli"]

[[bin]]
name = "pdu-completions"
path = "cli/completions.rs"
required-features = ["cli-completions"]

[features]
default = ["cli"]
json = ["serde/derive", "serde_json"]
cli = ["structopt", "structopt-utilities", "json"]
cli-completions = ["cli"]

[dependencies]
pipe-trait = "^0.4.0"
smart-default = "^0.6.0"
derive_more = "^0.99.17"
rayon = "^1.5.3"
text-block-macros = "^0.1.1"
rounded-div = "^0.1.2"
fmt-iter = "^0.2.1"
itertools = "^0.10.3"
assert-cmp = "^0.2.0"
zero-copy-pads = "^0.2.0"
terminal_size = "^0.2.1"

[dependencies.structopt]
version = "^0.3.26"
optional = true

[dependencies.structopt-utilities]
version = "^0.1.0"
optional = true

[dependencies.serde]
version = "^1.0.140"
optional = true

[dependencies.serde_json]
version = "^1.0.82"
optional = true

[dependencies.strum]
version = "^0.24.1"
features = ["derive"]

[dev-dependencies]
build-fs-tree = "^0.3.0"
command-extra = "^1.0.0"
maplit = "^1.0.2"
pretty_assertions = "^1.2.1"
rand = "^0.8.5"
