[package]
name = "parallel-disk-usage"
description = "Highly parallelized, blazing fast directory tree analyzer"
version = "0.8.4"
authors = ["khai96_ <hvksmr1996@gmail.com>"]
edition = "2021"
readme = "README.md"
license = "Apache-2.0"
documentation = "https://docs.rs/parallel-disk-usage"
repository = "https://github.com/KSXGitHub/parallel-disk-usage.git"
keywords = [
  "pdu",
  "dust",
  "dutree",
  "size",
  "chart",
]
categories = [
  "command-line-utilities",
  "filesystem",
]
include = [
  "/src",
  "/cli",
  "/Cargo.toml",
  "/README.md",
  "/LICENSE",
]

[lib]
name = "parallel_disk_usage"
path = "src/lib.rs"

[[bin]]
name = "pdu"
path = "cli/main.rs"
required-features = ["cli"]

[[bin]]
name = "pdu-completions"
path = "cli/completions.rs"
required-features = ["cli-completions"]

[features]
default = ["cli"]
json = ["serde/derive", "serde_json"]
cli = ["clap/derive", "clap_complete", "clap-utilities", "json"]
cli-completions = ["cli"]

[dependencies]
pipe-trait = "^0.4.0"
smart-default = "^0.6.0"
derive_more = "^0.99.17"
rayon = "^1.6.1"
text-block-macros = "^0.1.1"
rounded-div = "^0.1.2"
fmt-iter = "^0.2.1"
itertools = "^0.10.4"
assert-cmp = "^0.2.1"
zero-copy-pads = "^0.2.0"
terminal_size = "^0.2.5"
clap = { version = "^4.1.6", optional = true }
clap_complete = { version = "^4.0.7", optional = true }
clap-utilities = { version = "^0.2.0", optional = true }
serde = { version = "^1.0.152", optional = true }
serde_json = { version = "^1.0.91", optional = true }

[dev-dependencies]
build-fs-tree = "^0.4.1"
command-extra = "^1.0.0"
maplit = "^1.0.2"
pretty_assertions = "^1.3.0"
rand = "^0.8.5"
