name: Clippy

on:
  - push
  - pull_request

jobs:
  clippy_check:
    name: Clippy

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2.1.6
        timeout-minutes: 1
        continue-on-error: true
        if: matrix.os != 'macos-latest' # Cache causes errors on macOS
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ github.job }}-${{ runner.os }}-${{ hashFiles('rust-toolchain') }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ github.job }}-${{ runner.os }}-${{ hashFiles('rust-toolchain') }}-${{ hashFiles('**/Cargo.lock') }}
            ${{ github.job }}-${{ runner.os }}-${{ hashFiles('rust-toolchain') }}-

      - uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          components: clippy
          override: 'true'
          default: 'true'

      - name: Use clippy to lint code (dev)
        env:
          FMT: 'false'
          LINT: 'true'
          DOC: 'false'
          BUILD: 'false'
          TEST: 'false'
        run: ./test.sh

      - name: Use clippy to lint code (release)
        env:
          FMT: 'false'
          LINT: 'true'
          DOC: 'false'
          BUILD: 'false'
          TEST: 'false'
        run: ./test.sh
